.search-results {
    margin-block: 10px;
    max-width: 600px;
}

.search-result {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: all .25s;
}

.search-result:hover:nth-child(2n + 1){
    background-color: #d5d4d4;
}

.search-result:hover:nth-child(2n){
    background-color: #d3d2d2;
}